html, button, select, input {
  font-size: 22px;
}

@media screen and (min-width: 320px) {
  html, button, select, input {
    font-size: calc(22px + 6 * ((100vw - 320px) / (1000 - 320)));
  }
}

@media screen and (min-width: 1000px) {
  html, button, select, input {
    font-size: 32px;
  }
}

select {
  width: 50vw;
}

label {
  width: 30vw;
  display: inline-block;
}
